.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #065f46;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 8vh;
  background-color: white;
  border-radius: 2%;
  overflow: hidden;
}

/* Category Navigation */
.categoryNav {
  display: flex;
  justify-content: center;
  gap: 15px;

  margin-top: 3rem;
  margin-bottom: 2rem;
}

.categoryNav button {
  color: #2c5110;
  border: 2.5px solid #2c5110;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 790;
  font-family: -var(--font-wolfer);
}
.title {
  font-family: -var(--font-utamAvo);
  font-weight: 790;
  color: #2c5110;
  font-size: 3rem;
  margin-left: 32%;
}
/* Layout */
.layout {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 20px;
  width: 100%;
}

/* Sidebar (Filters) */
.sidebar {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0px; /* Adjust the start position */
  bottom: 70%; /* Adjust the end position */
  right: 0; /* Align to the right */
  width: 2.5px;
  background-color: #2c5110;
}

.filterTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.filterContainer {
  display: flex;
  align-items: center; /* Align vertically */
  gap: 10px; /* Add spacing between elements */
}

/* Product Grid */
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: flex-end; /* Aligns to the right */
  margin-right: 5%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap; /* Allows wrapping if there are too many dots */
  max-width: 100%; /* Prevents it from overflowing the container */
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  padding-bottom: 5px; /* Ensures visibility if scrolling is needed */
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #1f3d0e; /* Dark green color */
}
