.categoryButton {
  padding: 0.5rem 1rem;
  border: 2px solid #2c5110;
  color: #2c5110;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: -var(--font-wolfer);
}

.categoryButton.selected,
.categoryButton:hover {
  background: #2c5110;
  color: white;
}
