.container {
  background-color: #234014;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.item {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 70vw;
  height: 100vh;
  margin: auto;
}

.productInfo {
  display: flex;
  gap: 20px;
}

.carouselContainer {
  flex: 1;
}

.detailsContainer {
  flex: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "MantraRimba", sans-serif;
}

.price {
  color: #28a745;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.note {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
}

.sizeButton,
.buyButton,
.cartButton,
.shareButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.sizeButton {
  background-color: #007bff;
  color: white;
}

.buyButton {
  background-color: #28a745;
  color: white;
}

.cartButton {
  background-color: #ffc107;
  color: black;
}

.shareButton {
  background-color: #6c757d;
  color: white;
}

.descriptionSection {
  background-image: url("/Mask group.png");
  margin-top: 20px;
  border-radius: 20px;
  width: 96%;
  height: 45vh;
  transform: translateX(27px) translateY(10vh);
  display: flex;
  position: relative;
  padding: 20px;
  align-items: center; /* Centers items vertically */
}

.descriptionTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: green;
  transform: translateX(3vw) translateY(5vh);
  width: 26vw;
}

.descriptionText {
  font-size: 20px;
  color: #205804;
  width: 26vw;
  transform: translateX(4vw) translateY(6vh);
}
.descriptionImage {
  position: absolute;
  right: 20px; /* Aligns it to the right inside .descriptionSection */
  bottom: 10px; /* Adjust positioning as needed */
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between images */
  max-width: 40%; /* Limits width inside descriptionSection */
}

.descriptionImage img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.relatedProductsSection {
  margin-top: 40px;
}

.relatedTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "MantraRimba", sans-serif;
}
.grass {
  transform: translateY(2.5vh) translateX(-5vw);
  z-index: 10;
}
.bush {
  transform: translateY(-11vh) translateX(5vw);
  z-index: -20;
}
