.productCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: inherit;
  padding: 1rem;
  align-items: center;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Image Container */
.imageContainer {
  position: relative;
  width: 100%;
  height: 200px; /* Ensure it has a height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* SVG Background */
.svgHighlight {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center Product Image */
.productImage {
  position: relative;
  z-index: 2;
  display: flex; /* Ensure it's displayed */
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

/* Product Name */
.productName {
  margin: 1rem 0 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #2c5110;
  font-weight: 600;
  font-family: -var(--font-wolfer);
}

/* Product Price */
.productPrice {
  text-align: center;
  margin-bottom: 0.75rem;
  color: #444;
}

/* Add to Cart Button */
.addToCartButton {
  background-color: #2c5110;
  color: white;
  width: 80%;
  height: 10%;
  border: none;
  padding: 0.75rem;
  border-radius: 11px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: -var(--font-wolfer);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.addToCartButton:hover {
  background-color: #3b7015;
  transform: scale(1.05);
}

/* Cart Icon */
.cartIcon {
  position: relative;
  display: inline-block;
}

/* Cart Badge */
.cartBadge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #7fd46b;
  color: #2c5110;
  font-size: 0.75rem;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.flyingImageContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 1000;
  animation: flyToCart 1s ease-in-out forwards;
}

.flyingImage {
  width: 5rem;
  height: 5rem;
}

@keyframes flyToCart {
  0% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(0.5) translate(-5rem, -5rem);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(calc(100vw - 100px), -100vh);
  }
}
